<!-- https://idg.net.ua/blog/uchebnik-css/ispolzovanie-css/praktika-fotogalereya-css -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Folder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/verticalmenustyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/lightbox/css/lightbox.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300"/>
</head>

<body>

<div class="container">

    <h1><span th:text="${foldername}"> </span></h1>

    <div id="gallery">
        <div th:if="${operationStatus}">
            <label class="operationStatusClass" th:text="${operationStatus}"></label>
        </div>
        <div th:if="${isUploadable}" class="uploaded">
            <form th:action="@{${'/gallery/folder/upload/' + foldername}}" method="post" enctype="multipart/form-data">
                <input type="file" name="files" accept="image/*" multiple/>
                <input type="submit" value="upload"/>
            </form>
        </div>
        <div>
            <ul>
                <li th:each="photo : ${photos}">
                    <figure class="photo">
                        <a th:href="@{${'/gallery/showOnePhoto/' + photo.identifier}}" data-lightbox="roadtrip"
                           th:data-title="${photo.description}">
                            <img class="backup_photo" th:src="@{${'/gallery/showOnePhoto/' + photo.identifier}}" alt=""
                                 onerror="myFunction(this)"/>
                        </a>
                        <div th:id="${photo.identifier}" class="holder">
                            <label class="editable">
                                <span th:text="${photo.description != null} ? ( ${#strings.trim(photo.description) != ''} ? ${photo.description} : 'Введите описание') : 'Введите описание'"></span>
                            </label>
                            <label class="operationStatusClass">
                            </label>
                        </div>
                    </figure>
                </li>
            </ul>
        </div>
    </div>

</div>

<script>
    function myFunction(_this) {
        _this.onerror=null;
        _this.src='/image/noPhoto.png';
        _this.parentElement.nextElementSibling.hidden=true;
    }
</script>

<script th:src="@{/lightbox/js/lightbox-plus-jquery.min.js}"></script>
<script th:src="@{/static/jquery/js/jquery-3.5.0.min.js}"></script>
<script th:src="@{/js/editablelabel.js}"></script>
</body>
</html>